* {
    box-sizing: border-box;
}

.red-font {
    color: #FF0000;
}

.main-banner {
    background-image: url("../Images/Image@2x.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

section.main-banner::before {
    content:"";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    opacity: 30%;
}

.main-banner-header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #00000066;
    position: relative;
}

.banner-logo {
    display: flex;
    align-items: center;
}

.banner-logo-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 23px 182px;

}

h2.banner-logo-title::before {
    content: "";
    background-image: url("../images/icon.svg");
    background-size: cover;
    display: block;
    height: 35px;
    width: 31px;
    float: left;
    margin: 0 6px 0 0;
}

.banner-navigation {
    padding: 0 165px 0 0;
    text-transform: uppercase;
    display: flex;
}

a.banner-nav-items {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 33px
}

a.banner-nav-items:hover {
    background-color: #FFFFFF33;
    opacity: 30%;
    color: white;

}

.banner-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}
.banner-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 160px;
}

.banner-main-title {
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 0;
}

.banner-description {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 54px;
}

.banner-action-link-section {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.banner-action-link-red {
    background-color: #FF0000;
    padding: 22px 55px;
    color: #FFFFFF;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 30px;
    margin: 10px;
    text-decoration: none;
}

.banner-action-link-white {
    background-color: #FFFFFF;
    padding: 22px 55px;
    color: #FF0000;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 30px;
    margin: 10px;
    text-decoration: none;
}

.circle-container {
    background-color: #FF0000;
    border-radius: 50%;
    position: relative;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px #FF00004D;
    bottom: -25px;
    right: calc(-50vw + 25px);
}
.circle {
    height: 21px;
    width: 22px;
}

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-container {
    display: flex;
    margin: 35px auto;
    justify-content: space-between;
    width: 100vw;
    padding: 0 135px;
    font-weight: 400;
    color: #6A6A6A;
}

.blog-header {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-header::before,
.blog-header::after {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
    box-shadow: 0 1px 6px #FF00004D;
}

.blog-header strong {
    padding: 0 10px;
}
.blog-article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    opacity: 100%;
}
.article-image {
    height: 234px;
    width: 352px;
}

.blog-article-title {
    font-size: 19px;
    font-weight: 400;
    align-self: flex-start;
    padding: 25px 0 15px 0;
}

.blog-article-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: #6A6A6A;
    opacity: 100%;
    align-self: flex-start;
    padding: 0 92px 0 0;
}

.blog-article-btn {
    padding: 10px 30px;
    background-color: #FF0000;
    box-shadow: 0 3px 6px #FF00004D;
    opacity: 100%;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
    align-self: flex-start;
}