* {
    box-sizing: border-box;
}

.red-font {
    color: #FF0000;
}

/*------ Banner ------*/

.main-banner {
    background-image: url("../Images/Image@2x.png");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    flex-direction: column;
}

section.main-banner::before {
    content:"";
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: #000000;
    opacity: 30%;
}

.main-banner-header {
    display: flex;
    justify-content: space-between;
    height: 90px;
    background-color: #00000066;
    position: relative;
}

.banner-logo {
    display: flex;
    align-items: center;
}

.banner-logo-title {
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    padding: 20px 0 23px 182px;

}

h2.banner-logo-title::before {
    content: "";
    background-image: url("../images/icon.svg");
    background-size: cover;
    display: block;
    height: 35px;
    width: 31px;
    float: left;
    margin: 0 6px 0 0;
}

.banner-navigation {
    padding: 0 165px 0 0;
    text-transform: uppercase;
    display: flex;
}

a.banner-nav-items {
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 33px
}

a.banner-nav-items:hover {
    background-color: #FFFFFF33;
    opacity: 100%;
    color: #FFFFFF;
}

.banner-page {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    position: relative;
    font-family: 'Nunito Sans', sans-serif;
}

.banner-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 160px;
}

.banner-main-title {
    font-size: 90px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 20px 0;
}

.banner-description {
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 54px;
    line-height: 22px;
}

.banner-action-link-section {
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}

.banner-action-link-red {
    background-color: #FF0000;
    padding: 22px 55px;
    color: #FFFFFF;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 30px;
    margin: 10px;
    text-decoration: none;
}

.banner-action-link-white {
    background-color: #FFFFFF;
    padding: 22px 55px;
    color: #FF0000;
    box-shadow: 0 3px 6px #FF00004D;
    border-radius: 30px;
    margin: 10px;
    text-decoration: none;
}

.circle-container {
    background-color: #FF0000;
    border-radius: 50%;
    position: relative;
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 3px 6px #FF00004D;
    bottom: -25px;
    right: calc(-50vw + 25px);
}
.circle {
    height: 21px;
    width: 22px;
}

/*------ Blog ------*/

.blog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
    font-weight: bold;
    text-transform: uppercase;
}

.blog-container {
    display: flex;
    margin: 35px auto;
    justify-content: space-between;
    width: 100vw;
    padding: 0 135px;
    font-weight: 400;
    color: #6A6A6A;
}

.blog-header {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blog-header::before,
.blog-header::after {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
    box-shadow: 0 1px 6px #FF00004D;
}

.blog-header strong {
    padding: 0 10px;
}
.blog-article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 352px;
    opacity: 100%;
}
.article-image {
    height: 234px;
    width: 352px;
}

.blog-article-title {
    font-size: 19px;
    font-weight: 400;
    align-self: flex-start;
    padding: 25px 0 15px 0;
}

.blog-article-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: #6A6A6A;
    opacity: 100%;
    align-self: flex-start;
    padding: 0 92px 0 0;
    line-height: 19px;
}

.red-btn-small {
    padding: 15px 30px;
    background-color: #FF0000;
    box-shadow: 0 3px 6px #FF00004D;
    color: #FFFFFF;
    display: inline-block;
    text-decoration: none;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
    margin-top: 15px;
}

/*------ Service ------*/

.service {
    background-color: #28272C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    text-transform: uppercase;
    padding: 60px 154px 100px 154px;
}

.service-header {
    font-size: 35px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-header::before,
.service-header::after {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
    box-shadow: 0 1px 6px #FF00004D;
}

.service-header strong {
    padding: 0 10px;
}

.service-container {
    display: flex;
    margin: 60px auto 0 auto;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.service-article-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.service-article-image {
    border-radius: 50%;
    width: 170px;
    height: 170px;
}

.service-article-title {
    font-size: 19px;
    font-weight: 400;
    padding: 25px 0 15px 0;
}

.service-article-description {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    text-transform: capitalize;
    color: #B2B2B2;
    opacity: 100%;
    text-align: center;
    line-height: 19px;
}

/*------ Contact ------*/

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 65px auto;
    font-family: 'Nunito Sans', sans-serif;
    color: #000000;
}

.contact-header {
    font-size: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 35px;
    text-transform: uppercase;
    font-weight: bold;
}

.contact-header::before,
.contact-header::after {
    content: "";
    display: block;
    height: 3px;
    background: #FF0000;
    width: 50px;
    box-shadow: 0 1px 6px #FF00004D;
}

.contact-header strong {
    padding: 0 10px;
}

.contact-container {
    display: flex;
    justify-content: space-between;
}

.contact-image {
    height: 316px;
    padding: 0 8px;
}
.contact-form {
    display: flex;
    flex-direction: column;
    padding: 0 8px;
    width: 444px;
}

.form-input {
    height: 38px;
    margin-bottom: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
}

.form-textarea {
    height: 140px;
    margin-bottom: 20px;
    border: 1px solid #D1D1D1;
    border-radius: 8px;
    resize: none;
}

input,
textarea {
    font-size: 16px;
    padding: 12px 8px;
}

input.form-input::placeholder,
textarea.form-textarea::placeholder {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #B2B2B2;
}

input.form-input:focus,
textarea.form-textarea:focus {
    border: 1px solid #FF0000;
    box-shadow: 0 1px 6px #FF00004D;
    padding: 12px 8px;
    caret-color: transparent;
}

.checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkbox {
    cursor: pointer;
    display: flex;
}

.checkbox span {
    height: 22px;
    width: 22px;
    flex-shrink: 0;
    flex-basis: 22px;
    border: 1px solid #D1D1D1;
    cursor: pointer;
    margin-right: 15px;
    border-radius: 5px;
}

.checkbox input:checked + span {
        background-image: url("../images/Icon Check.svg");
        background-size: 12px;
        background-position: center;
        background-repeat: no-repeat;
}

.label-style {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 10px;
    color: #B2B2B2;
}

.submit-btn {
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 10px 52px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 6px #FF00004D;
    color: #FF0000;
    border: 1px solid #FF0000;
    border-radius: 50px;
    margin-top: 20px;
    align-self: flex-end;
}

/*------ Footer ------*/

.footer {
    background-color: #28272C;
    font-family: 'Nunito Sans', sans-serif;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.footer-logo-title {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    padding: 40px 0 0 140px;
}

h2.footer-logo-title::before {
    content: "";
    background-image: url("../images/icon.svg");
    background-size: cover;
    display: block;
    height: 20px;
    width: 18px;
    float: left;
    margin: 0 10px 0 0;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-link-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 22px 0 40px 140px;
}

.links-left-column,
.links-right-column {
    display: flex;
    flex-direction: column;
    padding-right: 140px;
}

.footer-link {
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration: none;
    padding: 4.5px 0;
}

.footer-copyright {
    font-size: 12px;
    font-weight: light;
    color: #D1D1D1;
    padding: 0 140px 40px 0;
    align-self: flex-end;
}

a.footer-link:hover {
    color: #FF0000;
}